@import '../../styles';
.confirm-dialog {
	text-align: center;
	h1 {
		background-color: $third-light;
		text-align: center;
		text-transform: uppercase;
		font-family: Montserrat;
		font-size: 17px;
		padding: 6px 0;
	}
	p {
		font-family: Montserrat;
		color: $font-primary;
		font-size: 13px;
		margin: 15px 10px;
	}

	.mat-raised-button {
		background-color: $third-light;
		border-radius: 0;
		margin: 0;
	}
}