<section class="how-it-works">
	<article class="step create-account">
		<div class="header-wrapper">
			<h1>Create account</h1>
		</div>
		<p>It's simple! Just enter your user data or connect with facebook!</p>
	<div class="layer"></div>
	</article>
	<article class="step create-event">
		<div class="header-wrapper">
			<h1>Create or join event</h1>
		</div>
		<p>Create event and allow other users to participate, or join the existing events!</p>
	<div class="layer"></div>
	</article>
	<article class="step let-us-judge">
		<div class="header-wrapper">
			<h1>Let us judge</h1>
		</div>
		<p>After bet time passess we will check the statement and decide which side won!</p>
	<div class="layer"></div>
	</article>
</section>