@import '../../styles';
app-dialog-username {
	width: 100%;
}
h1 {
	background-color: $third-light;
	text-align: center;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 18px;
}

form {
	margin: 0 auto;
	width: 300px;
	text-align: center;
	.input-wrapper {
	background-color: #fff;
	//padding: 0px 7px;
	width: 100%;
	margin: 15px auto;
	text-align: center;
	padding: 5px 0;
	md-input-container {
		width: 80%;
	}
}
    .message {
    	font-family: Cardo;
    	margin: 10px 0;
    }
	.mat-raised-button {
		width: 100%;
		display: block;
		background-color: $third-light;
		font-weight: bold;
		font-family: Montserrat;
	}
}

